/* base styles */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* .section {
  border: 1px solid red;
} */

img {
  display: block;
}

/* reset base */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  align-items: center;
  margin-right: 76px;
}

.header-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  /* margin-right: 76px; */
}

.header-nav-list {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  justify-content: flex-start;
  padding-right: 332px;
}

.header-nav-item {
  padding: 24px 0px;
}

.header-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-size: 16px;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* header-address */
.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-item {
}

.address-link {
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

/* hover-focus */
a:focus {
  color: #404bbf;
}

a:hover {
  color: #404bbf;
}

/* main  */

.main {
  text-align: center;
  padding: 188px 0;
  background-color: #2e2f42;
  background-image:;
}

.section-main-title {
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  font-size: 56px;
  max-width: 496px;
  margin: 0 auto;
}

.click-button {
  display: block;
  margin: 48px auto 0;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.click-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.click-button:hover {
  color: #ffffff;
  background-color: #404bbf;
}

/* features */

.features {
  padding: 120px 0;
}

.features-title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-nav-list {
  display: flex;
  gap: 24px;
}

.features-nav-item {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* features-icons */
.features-icon-wrap {
  width: 264px;
  height: 112px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  padding: 24px 100px;
  align-items: center;
  justify-content: center;

 margin-bottom: 8px;
}

.features-icon {
  width: 64px;
  height: 64px;
  fill: #2e2f42;
}
/* team */

.team {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-nav-list {
  display: flex;
  gap: 24px;
}

.team-nav-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-card-text {
  padding: 32px 0;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* team-social */
.team-socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 32px;
  list-style: none;
}
.team-socials-item {
}
.team-socials-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  text-decoration: none;
  padding: 12px 12px;
}
.team-socials-icon {
  fill: #fff;
}

.team-socials-link:hover {
  background-color: #31d0aa;
}

/* portfolio */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-nav-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-nav-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-about {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 120px;
}

.footer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.studio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  max-width: 264px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* footer-right */

.footer-right {
}

.footer-socials {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  padding-bottom: 16px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 8px 8px;
}

.footer-socials-media {
}

.footer-socials-icon {
  fill: #fff;
}

.footer-socials-item:hover {
  background-color: #31d0aa;
}
